{{#each model as |a|}}
  <div class="row activity">

    <div class="col-md-8 activity_content">
      <div class="row">
        <div class="col-md-12">
          {{#if a.activity_attachment_type}}
            <img src={{a.activity_attachment}} alt={{a.activity_message}}>
          {{else}}
            <div class="message">{{a.activity_message}}</div>
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 activity_actor">
            Posted by <a href={{a.actor_url}}>{{a.actor_name}}</a>
            to <a href={{a.activity_url}}>{{a.provider}}</a>
            on {{a.activity_date}}
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="sentiment {{sentiment-color a.activity_sentiment}}">
        {{sentiment-color a.activity_sentiment}}
      </div>
      <button type="button" class="btn btn-primary" name="promote">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        Like
      </button>
      <button type="button" class="btn btn-primary" name="reply">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Reply
      </button>
    </div>

    <div class="col-md-2 activity_social_status">
      <ul>
        <li>
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          <span class="sr-only">Likes</span>
          {{a.activity_likes}}
        </li>
        <li>
          <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
          <span class="sr-only">Shares</span>
          {{a.activity_shares}}
        </li>
        <li>
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          <span class="sr-only">Comments</span>
          {{a.activity_comments}}
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="row"> -->
    <!-- <div class="col-md-12 interaction"> -->
      <!-- <button type="button" class="btn btn-primary" name="promote"> -->
        <!-- <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> -->
        <!-- Like -->
      <!-- </button> -->
      <!-- <button type="button" class="btn btn-primary" name="reply"> -->
        <!-- <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> -->
        <!-- Reply -->
      <!-- </button> -->
      <!-- <button type="button" class="btn btn-default btn-show-details" name="show-details">Show User Details</button> -->
    <!-- </div> -->
  <!-- </div> -->

  <div class="row details">
    <div class="col-md-2 avatar">
      <img src={{a.actor_avator}} alt={{a.actor_username}} height="100" width="100">
    </div>
    <div class="col-md-10 actor_metadata">
      <ul>
        <li>Name: {{a.actor_name}}</li>
        <li>Description:  {{a.actor_description}}</li>
        <li>Username: {{a.actor_username}}</li>
        <li>Profile: <a href={{a.actor_url}}>{{a.actor_url}}</a></li>
        <li>Location: {{a.longitude}} {{a.latitude}}</li>
      </ul>
    </div>
  </div>
{{/each}}
{{outlet}}
