{{#each model as |a|}}
<div class="panel panel-default {{sentiment-panel a.activity_sentiment}}">
  <div class="panel-heading sentiment">
    <h3 class="panel-title">{{sentiment-name a.activity_sentiment}}</h3>
  </div>

  <div class="panel-body">
    <div class="row activity">

      <div class="col-md-9 activity_content">
        <div class="row">
          <div class="col-md-12">
            {{#if a.activity_attachment_type}}
              <img class="image" src={{a.activity_attachment}} alt={{a.activity_message}}>
            {{else}}
              <div class="message">{{a.activity_message}}</div>
            {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 activity_actor">
              Posted by <a href={{a.actor_url}}>{{a.actor_name}}</a>
              to <a href={{a.activity_url}}>{{a.provider}}</a>
              on {{a.activity_date}}
          </div>
        </div>
      </div>

      <div class="col-md-3 activity_social_status">
        <ul>
          <li>
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            <span class="sr-only">Likes</span>
            {{a.activity_likes}}
          </li>
          <li>
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
            <span class="sr-only">Shares</span>
            {{a.activity_shares}}
          </li>
          <li>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            <span class="sr-only">Comments</span>
            {{a.activity_comments}}
          </li>
        </ul>
      </div>
    </div>

    <div class="row interactions">
      <div class="col-md-12">
        <button type="button" class="btn btn-default" name="promote">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
          Like
        </button>
        <button type="button" class="btn btn-default" name="reply">
          <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
          Share
        </button>
        <button type="button" class="btn btn-default" name="reply">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          Comment
        </button>
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row details">
      <div class="col-md-9 actor_metadata">
          <div>Name: {{a.actor_name}}</div>
          <div>Description:  {{a.actor_description}}</div>
          <div>Username: {{a.actor_username}}</div>
          <div>Profile: <a href={{a.actor_url}}>{{a.actor_url}}</a></div>
          <div>Location: {{a.longitude}} {{a.latitude}}</div>
      </div>
      <div class="col-md-3 avatar">
        <img src={{a.actor_avator}} alt={{a.actor_username}} height="100" width="100">
      </div>
    </div>
  </div>

</div>
{{/each}}
{{outlet}}
